.programm {
    width: 100%;
    margin: 12.5rem auto 0 auto;
}

.programm__container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.programm__heading {
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 5.0rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.programm_day {
    padding: 3.75rem;
    background-color: rgb(42 50 58);
    border-radius: 1.0rem;
}
.programm__data {
    width: 85%;
    display: flex;
    align-items: center;
}
.programm__square {
    width: 2.75rem;
    height: 2.75rem;
    background-color: rgba(7, 232, 151, 0.9);;
    margin-right: 2.5rem;
}
.programm__title {
    white-space: nowrap;
    margin: 0;
    font-size: 3.75rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.programm__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3.75rem;
}
.programm__time {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 198, 2, 1);
}
.programm__description {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: white;
}

@media screen and (max-width: 1350px) {
    .programm__container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .programm__container{
        width: 80%;
    }
}

@media screen and (max-width: 599px) {
    .programm__container{
        width: 90%;
        gap: 6.875rem;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .programm__heading {
        width: 64%;
        margin: 10.0rem 5.75rem;
        font-size: 5.75rem;
    }
    .programm_day{
        transform: translate( -2.5rem, 0);
        width: 75%;
    }
    .programm__title {
        font-size: 5.0rem;
    }
    .programm__square {
        width: 5.0rem;
        height: 5.0rem;
    }
    .programm__time {
        margin: 0;
        font-size: 3.375rem;
    }
    .programm__description {
        margin: 0;
        font-size: 3.375rem;
    }
}