.common {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
}
.common::after{
    background: no-repeat center 100% url(../../images/common/grid.png);
    background-size: 1600px auto;
    opacity: 0.6;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.info {
    margin: 0 auto;
}
.container{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.info__img-img {
    display: block;
    width: 1260px;
    transform: translate(130px, 0);
}
.info__text {
    position: absolute;
    top: 90px;
    left: 180px;
}

.info__heading-el{
    margin: 9px 0;
    color: white;
    font-size: 60px;
    font-weight: 600;
    font-family: custom_32105;
}

.info__heading-el:last-child{
    margin-bottom: 50px;
}

.info__date {
    margin: 0 0 20px 0;
    display: flex;
}
.info__square {
    align-self: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 198, 2, 0.9);
}
.info__paragraph-date {
    margin: 0;
    color: white;
    font-size: 29px;
    font-weight: 600;
    font-family: custom_32105;
}
.info__paragraph {
    width: 29%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    font-family: custom_32105;
    font-style: normal;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,198,2);
    width: 240px;
    height: 50px;
    outline: none;
    text-decoration: none;
    margin: 40px auto;
}

.button span{
    font-family: custom_32105;
    font-weight: 400;
    color: black;
}
.info__paragraph-mobile{
    display: none;
}

@media screen and (max-width: 1310px) {
    .info__img-img {
        display: block;
        width: 866px;
        transform: translate(80px, 0);
    }
    .info__text {
        position: absolute;
        top: 40px;
        left: 100px;
        width: fit-content;
    }
    .info__heading-el {
        margin: 5px 0;
        font-size: 45px;
    }
    .info__heading-el:last-child {
        margin-bottom: 10px;
    }
    .info__paragraph{
        margin: 0;
        width: 38%;
    }
    .info__date {
        margin: 0 0 10px 0;
        display: flex;
    }
}

@media screen and (max-width: 599px) {
    .common::after{
        display: none;
    }
    .info__paragraph {
        padding: 10px;
    }
    .info__paragraph{
        display: none;
    }
    .info__paragraph-mobile {
        margin-left: 30px;
        margin-top: 40px;
        display: block;
        width: 68%;
        color: white;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        font-family: custom_32105;
        font-style: normal;
    }
    .info__img-img {
        display: block;
        width: 138%;
        transform: translate(0, 0);
        margin-top: 11%;
    }
    .info__heading-el{
        font-weight: 600;
        font-family: custom_32105;
        font-style: normal;
        color: rgba(255, 255, 255, 1);
        font-size: 48px;
    }
    .info__text {
        position: absolute;
        top: 71px;
        left: 29px;
        width: fit-content;
    }
    .info__square {
        order: 4;
    }
    .info__paragraph-date {
        order: 2;
    }
    .info__date {
        margin: 47px 0 10px 0;
        display: flex;
        flex-wrap: wrap;
        width: 222px;
    }
    .info__square {
        width: 25px;
        height: 25px;
    }
    .info__paragraph-date {
        font-size: 34px;
    }
    .button span {
        font-family: custom_32105;
        font-weight: 400;
        color: #000000cf;
        font-size: 27px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,198,2);
        width: 320px;
        height: 65px;
        outline: none;
        text-decoration: none;
        margin: 86px 0 160px 30px;
    }
}

@media screen and (max-width: 555px) {
    .info__text {
        top: 40px;
        left: 20px;
    }
    .info__heading-el {
        font-size: 45px;
    }
    .info__date {
        margin: 29px 0 10px 0;
        width: 129px;
    }
    .info__square {
        width: 25px;
        height: 25px;
    }
    .info__paragraph-date {
        font-size: 35px;
    }
    .info__paragraph-mobile {
        margin-left: 20px;
        margin-top: 33px;
        width: 86%;
        font-size: 22px;
        line-height: 25px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,198,2);
        width: 200px;
        height: 43px;
        outline: none;
        text-decoration: none;
        margin: 50px 0 100px 20px;
    }

    .button span {
        font-size: 16px;
    }
}

/* @media screen and (max-width: 520px) {
    .info__heading-el {
        font-size: 38px;
    }
    .info__date {
        margin: 45px 0 10px 0;
        width: 200px;
    }
    .info__paragraph-date {
        font-size: 30px;
    }
    .info__text {
        top: 50px;
        left: 20px;
    }
}

@media screen and (max-width: 460px) {
    .info__heading-el {
        font-size: 32px;
    }
    .info__date {
        margin: 45px 0 10px 0;
        width: 193px;
    }
    .info__paragraph-date {
        font-size: 25px;
    }
    .info__text {
        top: 50px;
        left: 20px;
    }
    .info__square {
        width: 20px;
        height: 20px;
    }
    
}

@media screen and (max-width: 410px) {
    .info__text {
        top: 40px;
        left: 20px;
    }
}

@media screen and (max-width: 375px) {
    .info__text {
        top: 45px;
        left: 24px;
    }
    .info__heading-el {
        font-size: 30px;
    }
    .info__date {
        margin: 29px 0 10px 0;
        width: 129px;
    }
    .info__square {
        width: 15px;
        height: 15px;
    }
    .info__paragraph-date {
        font-size: 19px;
    }
    .info__paragraph-mobile {
        margin-left: 20px;
        margin-top: 33px;
        width: 86%;
        font-size: 16px;
        line-height: 21px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,198,2);
        width: 200px;
        height: 43px;
        outline: none;
        text-decoration: none;
        margin: 50px 0 100px 20px;
    }

    .button span {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .common {
        padding-bottom: 40px;
    }
    .info__text {
        top: 27px;
        left: 13px;
    }
    .info__heading-el {
        font-size: 28px;
    }
} */