.common {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 7.5rem;
    position: relative;
}
.common::after{
    background: no-repeat center 100% url(../../images/common/grid.png);
    background-size: 200.0rem auto;
    opacity: 0.6;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.info {
    margin: 0 auto;
}
.container{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.info__img-img {
    display: block;
    width: 157.5rem;
    transform: translate(130px, 0);
}
.info__text {
    position: absolute;
    top: 11.25rem;
    left: 22.5rem;
}

.info__heading-el{
    margin: 1.125rem 0;
    color: white;
    font-size: 7.5rem;
    font-weight: 600;
    font-family: custom_32105;
}

.info__heading-el:last-child{
    margin-bottom: 6.25rem;
}

.info__date {
    margin: 0 0 2.5rem 0;
    display: flex;
}
.info__square {
    align-self: center;
    margin-right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 198, 2, 0.9);
}
.info__paragraph-date {
    margin: 0;
    color: white;
    font-size: 3.625rem;
    font-weight: 600;
    font-family: custom_32105;
}
.info__paragraph {
    width: 29%;
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.25rem;
    font-family: custom_32105;
    font-style: normal;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,198,2);
    width: 30.0rem;
    height: 6.25rem;
    outline: none;
    text-decoration: none;
    margin: 5.0rem auto;
}

.button span{
    font-size: 2.25rem;
    font-family: custom_32105;
    font-weight: 400;
    color: black;
}
.info__paragraph-mobile{
    display: none;
}

@media screen and (max-width: 1310px) {
    .info__img-img {
        display: block;
        width: 108.25rem;
        transform: translate(80px, 0);
    }
    .info__text {
        position: absolute;
        top: 5.0rem;
        left: 12.5rem;
        width: fit-content;
    }
    .info__heading-el {
        margin: 0.625rem 0;
        font-size: 5.625rem;
    }
    .info__heading-el:last-child {
        margin-bottom: 1.25rem;
    }
    .info__paragraph{
        margin: 0;
        width: 38%;
    }
    .info__date {
        margin: 0 0 1.25rem 0;
        display: flex;
    }
}

@media screen and (max-width: 599px) {
    .common::after{
        display: none;
    }
    .info__paragraph {
        padding: 1.25rem;
    }
    .info__paragraph{
        display: none;
    }
    .info__paragraph-mobile {
        margin-left: 3.75rem;
        margin-top: 5.0rem;
        display: block;
        width: 68%;
        color: white;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 4.75rem;
        font-family: custom_32105;
        font-style: normal;
    }
    .info__img-img {
        display: block;
        width: 138%;
        transform: translate(0, 0);
        margin-top: 11%;
    }
    .info__heading-el{
        font-weight: 600;
        font-family: custom_32105;
        font-style: normal;
        color: rgba(255, 255, 255, 1);
        font-size: 6.0rem;
    }
    .info__text {
        position: absolute;
        top: 8.875rem;
        left: 3.625rem;
        width: fit-content;
    }
    .info__square {
        order: 4;
    }
    .info__paragraph-date {
        order: 2;
    }
    .info__date {
        margin: 5.875rem 0 1.25rem 0;
        display: flex;
        flex-wrap: wrap;
        width: 27.75rem;
    }
    .info__square {
        width: 3.125rem;
        height: 3.125rem;
    }
    .info__paragraph-date {
        font-size: 4.25rem;
    }
    .button span {
        font-family: custom_32105;
        font-weight: 400;
        color: #000000cf;
        font-size: 3.375rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,198,2);
        width: 40.0rem;
        height: 8.125rem;
        outline: none;
        text-decoration: none;
        margin: 10.75rem 0 20.0rem 3.75rem;
    }
}

// @media screen and (max-width: 555px) {
//     .info__text {
//         top: 5.0rem;
//         left: 2.5rem;
//     }
//     .info__heading-el {
//         font-size: 5.625rem;
//     }
//     .info__date {
//         margin: 3.625rem 0 1.25rem 0;
//         width: 16.125rem;
//     }
//     .info__square {
//         width: 3.125rem;
//         height: 3.125rem;
//     }
//     .info__paragraph-date {
//         font-size: 4.375rem;
//     }
//     .info__paragraph-mobile {
//         margin-left: 2.5rem;
//         margin-top: 4.125rem;
//         width: 86%;
//         font-size: 2.75rem;
//         line-height: 3.125rem;
//     }
//     .button {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: rgb(255,198,2);
//         width: 25.0rem;
//         height: 5.375rem;
//         outline: none;
//         text-decoration: none;
//         margin: 6.25rem 0 12.5rem 2.5rem;
//     }

//     .button span {
//         font-size: 2.0rem;
//     }
// }

/* @media screen and (max-width: 520px) {
    .info__heading-el {
        font-size: 4.75rem;
    }
    .info__date {
        margin: 5.625rem 0 1.25rem 0;
        width: 25.0rem;
    }
    .info__paragraph-date {
        font-size: 3.75rem;
    }
    .info__text {
        top: 6.25rem;
        left: 2.5rem;
    }
}

@media screen and (max-width: 460px) {
    .info__heading-el {
        font-size: 4.0rem;
    }
    .info__date {
        margin: 5.625rem 0 1.25rem 0;
        width: 24.125rem;
    }
    .info__paragraph-date {
        font-size: 3.125rem;
    }
    .info__text {
        top: 6.25rem;
        left: 2.5rem;
    }
    .info__square {
        width: 2.5rem;
        height: 2.5rem;
    }
    
}

@media screen and (max-width: 51.25rem) {
    .info__text {
        top: 5.0rem;
        left: 2.5rem;
    }
}

@media screen and (max-width: 46.875rem) {
    .info__text {
        top: 5.625rem;
        left: 3.0rem;
    }
    .info__heading-el {
        font-size: 3.75rem;
    }
    .info__date {
        margin: 3.625rem 0 1.25rem 0;
        width: 16.125rem;
    }
    .info__square {
        width: 1.875rem;
        height: 1.875rem;
    }
    .info__paragraph-date {
        font-size: 2.375rem;
    }
    .info__paragraph-mobile {
        margin-left: 2.5rem;
        margin-top: 4.125rem;
        width: 86%;
        font-size: 2.0rem;
        line-height: 2.625rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,198,2);
        width: 25.0rem;
        height: 5.375rem;
        outline: none;
        text-decoration: none;
        margin: 6.25rem 0 12.5rem 2.5rem;
    }

    .button span {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 43.75rem) {
    .common {
        padding-bottom: 5.0rem;
    }
    .info__text {
        top: 3.375rem;
        left: 1.625rem;
    }
    .info__heading-el {
        font-size: 3.5rem;
    }
} */