.organizers {
    width: 100%;
    margin: 0 auto;
}
.links {
    width: 50%;
    margin: 0 auto;
}
.links__heading {
    margin: 3.25rem 0;
    font-size: 5.0rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.links__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.25rem;
}
.links__el {
    display: flex;
    align-items: center;
    width: auto;
}
.links__img {
    width: 31.25rem;
}

@media screen and (max-width: 975px) {
    .links__heading {
        font-size: 6rem;
    }
    .links {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .links {
        width: 90%;
    }
    .links__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .links__heading {
        margin-left: 11%;
    }
}


@media screen and (max-width: 599px) {
    .links {
        width: 90%;
    }
    .links__heading {
        margin: 6.25rem 0;
        font-size: 5.75rem;
    }
    .links__list {
        list-style: none;
        margin-left: 1.25rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .links__el {
        width: auto;
    }
    .sber img{
        width: 28.125rem;
    }
    .links__img {
        width: 28.75rem;
    }
}