.organizers {
    width: 100%;
    margin: 0 auto;
}
.links {
    width: 50%;
    margin: 0 auto;
}
.links__heading {
    margin: 50px 0;
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.links__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.links__el {
    display: flex;
    align-items: center;
    width: calc(100%/3);
}
.links__img {
    width: 250px;
}

@media screen and (max-width: 1350px) {
    .links{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .links{
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .links__list{
        grid-template-columns: repeat(1, 1fr);
    }
}