.timeline {
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}
.timeline__container {
    width: 47%;
    margin: 0 auto;
}
.timeline__headding {
    margin: 0;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
    line-height: 50px;
}
.timeline__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}
.timeline__el {
    width: 100px;
}
.timeline__date {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 198, 2, 1);
}
.timeline__line {
    margin-left: 5px;
    width: 2px;
    height: 45px;
    background: rgba(255, 198, 2, 1);
}
.timeline__description {
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: white;
}

.broken-line{
    position: absolute;
    top: 240px;
    left: calc(100% - 97.5%);
    width: 95%;
    margin: 0 auto;
    border-top: 20px dashed rgb(42, 50, 58);
    z-index: -1;
}

@media screen and (max-width: 1350px) {
    .timeline__container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .timeline__container{
        width: 80%;
    }
}

@media screen and (max-width: 635px) {
    .timeline__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 599px) {
    .timeline{
        padding-top: 85px;
    }
    .timeline-svg{
        position: absolute;
        top: 595px;
        left: -374px;
        transform: rotate(90deg);
    }
    .timeline-svg path{
        stroke-width: 25.5px;
    }
    .timeline__container {
        width: 90%;
    }
    .timeline__headding {
        margin: 0;
        margin-bottom: 38px;
        font-size: 46px;
    }
    .timeline__list{
        margin-left: 100px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .timeline__date {
        margin: 0 0 10px 0;
        font-size: 36px;
    }
    .timeline__line{
        margin: 40px 12px;
        width: 3px;
        height: 80px;
    }
    .timeline__description {
        margin-left: 0px;
        font-size: 28px;
    }
    .timeline__el {
        width: 50%;
    }
}
@media screen and (max-width: 599px) {
    .timeline {
        padding-top: 50px;
    }
    .timeline__headding {
        margin: 0;
        margin-bottom: 38px;
        font-size: 30px;
    }
}