.header {
    width: 100%;
    margin: 7.5rem auto 2.5rem auto;
}

.logo {
    margin: 0 auto;
    width: 47%;
    display: flex;
    justify-content: flex-start;
}

.logo__img{
    width: 18.125rem;
}

@media screen and (max-width: 975px) {
    .logo {
        width: 87%;
    }
    .logo__img {
        width: 23.125rem;
    }
}

@media screen and (max-width: 599px) {
    .header {
        margin: 7% auto 3% auto;
    }
    .logo {
        width: fit-content;
        margin-left: 6%;
    }
    .logo__img {
        width: 75%;
    }
}