.header {
    width: 100%;
    margin: 60px auto 20px auto;
}

.logo {
    margin: 0 auto;
    width: 47%;
    display: flex;
    justify-content: flex-start;
}

.logo__img{
    width: 145px;
}

@media screen and (max-width: 1440px) {
    .logo {
        width: 60%;
    }
}

@media screen and (max-width: 599px) {
    .header {
        margin: 37px auto 20px auto;
    }
    .logo {
        width: 80%;
        margin-left: 34px;
    }
    .logo__img {
        width: 265px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 30px auto 20px auto;
    }
    .logo {
        margin-left: 27px;
    }
    .logo__img {
        width: 220px;
    }
}
@media screen and (max-width: 375px) {
    .logo__img {
        width: 213px;
    }
}