.partners {
    width: 100%;
    margin: 0 auto;
}

.links__img_21{
    width: 15.0rem;
}
@media screen and (max-width: 599px) {
    .links__el.tw{
        transform: translate(70px, 6.25rem);
    }

    .links__el.sber img{
        width: 41.25rem;
    }
}