.partners {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.links__img_21{
    width: 15.0rem;
}
.grid-partners {
    position: absolute;
    top: 33.0rem;
    left:  -97.5rem;
    width: 262.5rem;
    transform: rotate(90deg);
    opacity: .2;
    z-index: -1;
}
.dots-partners {
    position: absolute;
    top:  -47.25rem;
    right:  -63.5rem;
    width: 190.875rem;
    transform: rotate(-90deg);
    opacity: .5;
    z-index: -1;
}

@media screen and (max-width: 599px) {
    .links__el.tw{
        transform: translate(70px, 6.25rem);
    }

    .links__el.sber img{
        width: 41.25rem;
    }
    .grid-partners {
        position: absolute;
        top: 243.5rem;
        left:  -101.5rem;
        width: 276.0rem;
        transform: rotate(90deg);
        opacity: .2;
        z-index: -1;
    }
    .dots-partners{
        display: none;
    }
}