.faq {
    width: 100%;
    margin: 0 auto;
}
.faq__container {
    width: 50%;
    margin: 0 auto;
}
.faq__heading {
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.faq__info {
}
.faq__text {
}
.faq__description{
    font-size: 20px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: white;
}
.faq__img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1350px) {
    .faq__container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .faq__container{
        width: 80%;
    }
}

@media screen and (max-width: 599px) {
    .faq__container {
        width: 83%;
    }
    .faq__heading {
        margin-top: 120px;
        font-size: 47px;
    }
    .faq__info {
        margin-bottom: 165px;
    }
    .faq__description {
        width: 81%;
        font-size: 30px;
        display: inline-block;
    }
    .faq__img {
        width: 35px;
        height: 35px;
    }
}