.faq {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 7.5rem;
}
.faq__container {
    margin: 0 auto;
}
.faq__heading {
    font-size: 5.0rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.faq__info {
}
.faq__text {
    margin-bottom: 2.5rem;
}
.faq__description{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: white;
}
.faq__img {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
}
.faq-tablet{
    position: absolute;
    top: 15.625rem;
    right: 51.25rem;
    width: 40.0rem;
    transform: rotate(90deg);
}

.faq-triangle{
    display: none;
}

@media screen and (max-width: 630px) {
    .faq__container {
        width: 83%;
    }
    .faq__heading {
        margin-top: 15.0rem;
        font-size: 5.875rem;
    }
    .faq__info {
        margin-bottom: 20.625rem;
    }
    .faq__description {
        width: 81%;
        font-size: 3.75rem;
        display: inline-block;
    }
    .faq__img {
        width: 4.375rem;
        height: 4.375rem;
    }
    .faq-tablet {
        position: absolute;
        top: 67.75rem;
        right:  -13.125rem;
        width: 40.0rem;
        transform: rotate(90deg);
    }
    .faq-triangle{
        position: absolute;
        top:  -17.5rem;
        right: 3.5rem;
        width: 30rem;
        transform: rotate(-40deg);
    }
}