.faq {
    width: 100%;
    margin: 0 auto;
}
.faq__container {
    width: 50%;
    margin: 0 auto;
}
.faq__heading {
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.faq__info {
}
.faq__text {
}
.faq__description{
    font-size: 20px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: white;
}
.faq__img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1350px) {
    .faq__container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .faq__container{
        width: 80%;
    }
}