.capabilities {
    width: 100%;
    margin: 0 auto;
}
.capabilities-container {
    width: 55%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capabilities-container__img {
    width: 380px;
}
.capabilities-container__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70px;
}
.capabilities-container__title {
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.capabilities-container__text {
    margin: 0 0 20px 0;
}
.capabilities-container__paragraph {
    font-size: 20px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.button.bottom {
    margin: 0;
}

@media screen and (max-width: 1350px) {
    .capabilities-container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .capabilities-container{
        width: 90%;
    }
}

@media screen and (max-width: 888px){
    .capabilities-container__img {
        width: 297px;
    }
}

@media screen and (max-width: 599px) {
    .capabilities-container {
        width: 90%;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .capabilities-container__img {
        width: 415px;
    }
    .capabilities-container__description {
        width: 93%;
        margin-left: 0;
    }
    .capabilities-container__title {
        font-size: 50px;
    }
    .capabilities-container__paragraph {
        font-size: 28px;
    }
    .capabilities-container__paragraph:last-child{
        margin-bottom: 0;
    }
}