.about {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.description-about {
    margin: 70px auto 0 auto;
    width: 50%;
}
.description-about-main__heading {
    font-family: custom_32105;
    color: rgba(255, 198, 2, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}
.description-about-main__block {
    padding: 0 0 20px 0;
}
.description-about-paragraph {
    font-family: custom_32105;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin:  0 0 10px 0;
}
.description-about-main__link {
    margin: 0;
    font-size: 18px;
    font-family: custom_32105;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background: linear-gradient(to right, rgb(0, 149, 111) 0%, rgb(0, 149, 111) 100%) 0px 100% / 1px 1px repeat-x;
    color: rgb(0, 149, 111);
}
.description-about-other {
    width: 50%;
    margin: 20px auto;
}
.description-about-other__heading {
    color: rgba(255, 198, 2, 1);
    font-family: custom_32105;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
    margin: 0;
}
.description-about-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 50%;
}
.description-about-list__element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.description-about-list__element:nth-child(4) .description-about-list__text{
    width: 130px;
}

.description-about-list__text{
    font-family: custom_32105;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}

.info-popup {
    justify-items: flex-start;
    align-self: center;
    width: 20px;
    height: 20px;
    padding-left: 10px;
}
.description-about-list__element:nth-child(4) .info-popup{
    padding: 0;
}

.about__small-ball {
    position: absolute;
    width: 45px;
    right: 230px;
    top: 178px;
}

@media screen and (max-width: 1450px) {
    .about__small-ball {
        right: 14px;
    }
}

@media screen and (max-width: 1350px) {
    .about__small-ball {
        display: none;
    }

    .description-about-list {
        width: 70%;
    }

    .description-about {
        width: 70%;
    }

    .description-about-other {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .description-about-list {
        width: 80%;
    }

    .description-about {
        width: 80%;
    }

    .description-about-other {
        width: 80%;
    }
}
@media screen and (max-width: 867px) {
    .description-about-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .description-about-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .description-about-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .description-about-main__heading {
        font-size: 26px;
    }
}