.footer {
    padding: 10.0rem 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(7, 232, 151);
}
.footer__container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer__social {
    display: flex;
}
.footer__social-img {
    margin-right: 1.25rem;
    height: 2.5rem;
}
.footer__links {
    
}
.footer__links-el {
    font-size: 2.25rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    margin-right: 2.5rem;
    color: rgb(0, 149, 111);
}
.footer__main-link {
}
.footer__sber {
    width: 31.25rem;
}

@media screen and (max-width: 630px) {
    .footer {
        padding: 6.25rem 0;
    }
    .footer__container{
        width: 83%;
        flex-wrap: wrap;
    }

    .footer__social {
        display: flex;
        order: 3;
    }

    .footer__links {
        flex-wrap: wrap;
        width: 80%;
        order: 0;
        margin-bottom: 6.25rem;
    }

    .footer__main-link {
        order: 2;
    }

    .footer__links-el {
        font-size: 4.0rem;
        margin-bottom: 1.25rem;
        display: block;
    }

    .footer__sber {
        width: 37.5rem;
    }
    .footer__social-img {
        margin-right: 1.25rem;
        height: 4.375rem;
    }
    
}