<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5J99FQK');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SberCloud.Advanced Hacking - масштабный онлайн-хакатон для CTO стартапов и их команд"/>
    <meta property="og:description" content="Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Сбер500"/>
    <meta property="og:image" content="https://ia.wampi.ru/2020/11/30/FB.png"/>
    <meta property="og:url" content= "https://tech.sbercloud.ru/hackatons/advanced-hacking" />

    <meta property="vk:image" content="https://ia.wampi.ru/2020/11/30/VK.png"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SberCloud.Advanced Hacking - масштабный онлайн-хакатон для CTO стартапов и их команд">
    <meta name="twitter:description" content="Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Сбер500">
    <meta name="twitter:image" content="https://ia.wampi.ru/2020/11/30/TG-small.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SberCloud.Advanced Hacking - масштабный онлайн-хакатон для CTO стартапов и их команд">
    <meta name="twitter:description" content="Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Сбер500">
    <meta name="twitter:image" content="https://ia.wampi.ru/2020/11/30/TG-big.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>SberCloud.Advanced Hacking - масштабный онлайн-хакатон для CTO стартапов и их команд</title>
</head>

<body class="body auto-scale-width">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J99FQK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="header">
        <picture class="logo">
            <img src="../images/header/sber.png" alt="" class="logo__img"/>
        </picture>
    </header>

    <main class="main">
        <section class="common">
            <div class="info">
                <div class="container">
                    <picture>
                        <source srcset="../images/common/mobile.png" media="(max-width: 599px)">
                        <img src="../images/common/desktop.png" alt="" class="info__img-img"/>
                    </picture>
                    <div class="info__text">
                        <div class="info__heading">
                            <h1 class="info__heading-el">SberCloud.</h1>
                            <h1 class="info__heading-el">Advanced</h1>
                            <h1 class="info__heading-el">Hacking</h1>
                        </div>
                        <div class="info__date">
                            <div class="info__square"></div>
                            <p class="info__paragraph-date">11-13 декабря</p>
                        </div>
                        <p class="info__paragraph animation">Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                    </div>
                    <p class="info__paragraph-mobile animation">Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                </div>
            </div>
            <a href="https://apply.sbercloud.org/login" class="button"><span>Подать заявку</span></a>

            <img src="../images/common/medium-ball-mobile.png" alt="" class="medium-ball-mobile">
            <img src="../images/common/small-ball-mobile.png" alt="" class="small-ball-mobile">
            <div class="ellipse-common-mobile"></div>
        </section>

        <section class="short-about">
            <div class="description-short">
                <h3 class="description-short__heading">Что такое SberCloud.Advanced Hacking?</h3>
                <p class="description-short-paragraph animation">Это масштабный 50-ти часовой онлайн-хакатон для:</p>
                <ul class="description-short__list">
                    <li class="description-short__element animation"><span class="description-short__prefix">-&nbsp;</span>технологических стартапов</li>
                    <li class="description-short__element animation"><span class="description-short__prefix">-&nbsp;</span>CTO стартапов и их команд</li>
                    <li class="description-short__element animation"><span class="description-short__prefix">-&nbsp;</span>инди-проектов</li>
                    <li class="description-short__element animation"><span class="description-short__prefix">-&nbsp;</span>разработчиков, интересующихся облачными технологиями</li>
                </ul>
                <div class="description-wrapper">
                    <img src="../images/short-about/medium-ball.png" alt="" class="medium-ball">
                    <img src="../images/short-about/square.png" alt="" class="square">
                    <div class="ellipse-top"></div>
                </div>
            </div>
        </section>

        <section class="about">
            <img src="../images/about/small-ball.png" alt="" class="about__small-ball">
            <div class="description-about">
                    <h2 class="description-about-main__heading">SberCloud.Advanced</h2>
                    <div class="description-about-main__block">
                        <p class="description-about-paragraph animation">
                            Это облачная платформа, позволяющая быстро создавать и эффективно управлять ИТ-инфраструктурой, приложениями и интернет-сервисами, радикально минимизирующая ресурсы, требуемые для поддержания работы ИТ-систем. Платформа в разы сокращает время вывода на рынок новых продуктов и услуг.
                        </p>
                        <a href="https://sbercloud.ru/ru/advanced" class="description-about-main__link">Подробнее</a>
                    </div>
                </div>

                <div class="description-about-other">
                    <h3 class="description-about-other__heading">Участникам хакатона будут доступны более 40 IaaS/PaaS сервисов SberCloud.Advanced!</h3>
                    <p class="description-about-paragraph animation">Одним из критериев оценки итоговых проектов - будет использование приоритетных сервисов:</p>
                </div>

                <ul class="description-about-list">
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">CCE (Kubernetes)</span>
                        <img
                            id="kubernetes-popup"
                            class="info-popup"
                            src="../images/about/info.png"
                            alt=""
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">FunctionGraph</span>
                        <img
                            id="functional-graph-popup"
                            src="../images/about/info.png"
                            alt=""
                            class="info-popup"
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">API Gateway</span>
                        <img
                            id="api-gateway-popup"
                            src="../images/about/info.png"
                            alt=""
                            class="info-popup"
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">Graph Engine Service</span>
                        <img 
                            id="graph-engine-popup"
                            src="../images/about/info.png" 
                            alt="" 
                            class="info-popup"
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">Document Database Service</span>
                        <img 
                            id="document-database-popup"
                            src="../images/about/info.png" 
                            alt="" 
                            class="info-popup"
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">Distributed Cache Service</span>
                        <img 
                            id="distributed-cache-popup"
                            src="../images/about/info.png" 
                            alt="" 
                            class="info-popup"
                        >
                    </li>
                    <li class="description-about-list__element animation">
                        <span class="description-about-list__text">Relational Database Service</span>
                        <img 
                            id="relational-database-popup"
                            src="../images/about/info.png" 
                            alt="" 
                            class="info-popup"
                        >
                    </li>
                </ul>
            </div>

            <h3 class="about-logo__logo">SBER</h3>
            <span class="about-logo__logo-colored">CLOUD</span>
            <div class="about-logo-image">
                <img src="../images/participation/medium-ball.png" alt="" class="about-circle-img">
                <div class="about-circle"></div>
                <div class="about-circle_green"></div>
            </div>

        </section>

        <section class="participation">
            <img src="../images/participation/grid-mobile.png" alt="" class="participation-grid-mobile">

            <div class="participation-container">
                <h2 class="participation-container__heading">
                    Участвуй в хакатоне!
                </h2>

                <ul class="participation-list">
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Реализуй</h3>
                        <p class="participation-list__paragraph animation">свой проект с помощью технологий SberCloud.Advanced</p>
                    </li>
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Поборись</h3>
                        <p class="participation-list__paragraph animation">за главный призовой фонд 700 000 руб.</p>
                    </li>
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Получи</h3>
                        <p class="participation-list__paragraph animation">поддержку от опытных менторов из SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                    </li>
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Стань</h3>
                        <p class="participation-list__paragraph animation">лучшим разработчиком на стеке SberCloud</p>
                    </li>
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Воспользуйся</h3>
                        <p class="participation-list__paragraph animation">грантом на развитие собственного проекта и облачными кредитами SberCloud</p>
                    </li>
                    <li class="participation-list__element">
                        <h3 class="participation-list__heading">Обменивайся</h3>
                        <p class="participation-list__paragraph animation">опытом с другими проектами и разработчиками</p>
                    </li>
                </ul>
            </div>

            <div class="participation-logo">
                <h3 class="participation-logo__logo">SBER<span class="participation-logo__logo-colored">CLOUD</span></h3>
                <div class="participation-logo-image">
                    <img src="../images/participation/medium-ball.png" alt="" class="circle-img">
                    <div class="circle"></div>
                    <div class="circle_green"></div>
                </div>
            </div>
            <div class="participation-figure">
                <div class="ellipse-participation"></div>
                <img src="../images/participation/medium-ball.png" alt="" class="small-ball__participation">
            </div>
        </section>

        <section class="nominations">

            <div class="ellipse-nominations"></div>

            <img src="../images/nominations/spacer-pc.png" alt="" class="spacer">
            <img src="../images/nominations/tablet.png" alt="" class="tablet">
            <img src="../images/nominations/dots_pc.png" alt="" class="dots_l">
            <img src="../images/nominations/dots_pc.png" alt="" class="dots_r">
            <img src="../images/nominations/grid_pc.png" alt="" class="grid">


            <div class="image-wrapper">
                <img src="../images/nominations/hands.png" alt="" class="image-wrapper__hands">
            </div>

            <div class="rows">
                <h2 class="rows__heading">Номинации и «плюшки»</h2>
                <div class="track">
                    <div class="track__left">
                        <h3 class="track__heading">Основной трек</h3>
                        <p class="track__paragraph animation">Лучшее использование ресурсов SberCloud Advanced для развития собственного проекта.</p>
                        <ul class="track__list">
                            <li class="track__el">
                                <h4 class="track__el-headding">1-е место:</h4>
                                <h4 class="track__el-paragraph animation">350 000 руб.</h4>
                            </li>
                            <li class="track__el">
                                <h4 class="track__el-headding">2-е место:</h4>
                                <h4 class="track__el-paragraph animation">200 000 руб.</h4>
                            </li>
                            <li class="track__el">
                                <h4 class="track__el-headding">3-е место:</h4>
                                <h4 class="track__el-paragraph animation">150 000 руб.</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="track__right">
                        <p class="track__summ animation">700 000 руб.</p>
                    </div>
                </div>

                <div class="special">
                    <h4 class="special__heading">Специальные номинации</h4>
                    <ul class="special__list">
                        <li class="special__el">
                            <span class="special__text animation">Лучший стартап на стеке SberCloud</span>
                            <img 
                                id="best-startup"
                                src="../images/nominations/star.png" 
                                alt="" 
                                class="special__img"
                            >
                        </li>
                        <li class="special__el">
                            <span class="special__text animation">Лучший разработчик на стеке SberCloud</span>
                            <img 
                                id="best-dev"
                                src="../images/nominations/star.png" 
                                alt="" 
                                class="special__img"
                            >
                        </li>
                        <li class="special__el">
                            <span class="special__text animation">Специальный приз от Школы 21</span>
                            <img 
                                id="special-price"
                                src="../images/nominations/star.png" 
                                alt="" 
                                class="special__img"
                            >
                        </li>
                        <li class="special__el">
                            <span class="special__text animation">Специальная номинация Сбер500</span>
                            <img 
                                id="special-nomination"
                                src="../images/nominations/star.png" 
                                alt="" 
                                class="special__img"
                            >
                        </li>
                    </ul>
                </div>

                <div class="other">
                    <h4 class="other__heading">Другие призы</h4>
                    <ul class="other__list">
                        <li class="other__el">
                            <span class="other__text animation">Гранты SberCloud 12 000 руб. на команду</span>
                            <img 
                                id="grants-sber"
                                src="../images/nominations/dots.png" 
                                alt="" 
                                class="other__img"
                            >
                        </li>
                        <li class="other__el">
                            <span class="other__text animation">Расширенный пакет мерча</span>
                            <img 
                                id="merch-package"
                                src="../images/nominations/dots.png" 
                                alt="" 
                                class="other__img"
                            >
                        </li>
                        <li class="other__el">
                            <span class="other__text animation">Промокоды на онлайн-сервисы</span>
                            <img 
                                id="online-promo"
                                src="../images/nominations/dots.png" 
                                alt="" 
                                class="other__img"
                            >
                        </li>
                        <li class="other__el">
                            <span class="other__text animation">Промокоды Delivery Club</span>
                            <img 
                                id="promo-delivery"
                                src="../images/nominations/dots.png" 
                                alt="" 
                                class="other__img"
                            >
                        </li>
                    </ul>
                </div>
                <a href="https://apply.sbercloud.org/login" class="button button__nominations"><span>Подать заявку</span></a>
            </div>
            <div class="ellipse-special"></div>
        </section>

        <section class="timeline">

            <div class="sber-timeline">
                <h3 class="sber-timeline-logo__logo">SBER<span class="sber-timeline-logo__logo-colored">CLOUD</span></h3>
            </div>
            

            <svg class='timeline-svg' xmlns="http://www.w3.org/2000/svg" version="1.1" width="108.625em" height="3.625em"><path d="M0 15 L869 15" stroke-dasharray="75.83333333333333 11.666666666666666" style=" fill:none; stroke:rgba(0,0,0, 0.2);stroke-width:17.5"></path></svg>
            <div class="timeline__container">
                <h2 class="timeline__headding">Таймлайн</h2>
                <ul class="timeline__list">
                    <li class="timeline__el">
                        <p class="timeline__date">13.11</p>
                        <div class="timeline__line"></div>
                        <p class="timeline__description animation">открытие регистрации</p>
                    </li>
                    <li class="timeline__el">
                        <p class="timeline__date">9.12</p>
                        <div class="timeline__line"></div>
                        <p class="timeline__description animation">закрытие регистрации</p>
                    </li>
                    <li class="timeline__el">
                        <p class="timeline__date">10.12</p>
                        <div class="timeline__line"></div>
                        <p class="timeline__description animation">общая сессия вопросов и ответов</p>
                    </li>
                    <li class="timeline__el">
                        <p class="timeline__date">11-13.12</p>
                        <div class="timeline__line"></div>
                        <p class="timeline__description animation">хакатон</p>
                    </li>
                    <li class="timeline__el">
                        <p class="timeline__date">13.12</p>
                        <div class="timeline__line"></div>
                        <p class="timeline__description animation">церемония награждения</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="ready">
            <div class="ready__container">
                <h3 class="ready__header">Подготовься к хакатону</h3>
                <p class="webinars animation">Вебинары по приоритетным сервисам</p>
                <ul class="card__list">
                    <li class="card__element">
                        <img src="../images/ready/pavel.png" alt="" class="card__img">
                        <div class="card__title-container">
                            <p class="card__name animation">Кутаков Павел</p>
                            <p class="card__prof animation">Архитектор облачных решений, Huawei</p>
                        </div>
                        <p class="card__date">23 ноября, 14:00</p>
                        <div class="card__text-container">
                            <h5 class="card__theme">«API Gateway»</h5>
                            <p class="card__text animation">- основные сценарии применения API Gateway</p>
                            <p class="card__text animation">- живая демонстрация наиболее интересных кейсов использования сервиса.</p>
                        </div>
                        <a href="https://www.youtube.com/watch?v=V481CO2kccs" class="button button-registr"><span>Запись</span></a>
                    </li>
                    <li class="card__element">
                        <img src="../images/ready/pavel.png" alt="" class="card__img">
                        <div class="card__title-container">
                            <p class="card__name animation">Кутаков Павел</p>
                            <p class="card__prof animation">Архитектор облачных решений, Huawei</p>
                        </div>
                        <p class="card__date">27 ноября, 11:00</p>
                        <div class="card__text-container">
                            <h5 class="card__theme">«Graph Engine Service»</h5>
                            <p class="card__text animation">- эффективная работа с данными</p>
                            <p class="card__text animation">- работа с данными с использованием графовой СУБД</p>
                            <p class="card__text animation">- нестандартные возможности для умного поиска</p>
                        </div>
                        <a href="https://www.youtube.com/watch?v=6_noxMQy5EI" class="button button-registr"><span>Запись</span></a>
                    </li>
                    <li class="card__element">
                        <img src="../images/ready/petr.png" alt="" class="card__img">
                        <div class="card__title-container">
                            <p class="card__name animation">Петр Предтеченский</p>
                            <p class="card__prof animation" id="petrP">Руководитель по работе с корпоративными клиентами, SberCloud</p>
                        </div>
                        <p class="card__date">4 декабря, 10:00</p>
                        <div class="card__text-container">
                            <h5 class="card__theme">«FunctionGraph»</h5>
                            <p class="card__text animation">- как запустить код в облаке</p>
                            <p class="card__text animation">- бессерверных функций</p>
                        </div>
                        <a href="https://rh.timepad.ru/event/1490345/" class="button button-registr"><span>Регистрация</span></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="programm">

            <h3 class="about-logo__logo-programm-loc">SBER<span class="about-logo__logo-colored-programm-loc">CLOUD</span></h3>

            <img src="../images/programm/dots-programm.png" alt="" class="dots-programm">
            <img src="../images/programm/dots-programm.png" alt="" class="dots-programm-r">

            <h2 class="programm__heading">Программа</h2>
            <div class="programm__container">
                <div class="programm_day">
                    <div class="programm__data">
                        <div class="programm__square"></div>
                        <h4 class="programm__title">11 декабря</h4>
                    </div>
                    <ul class="programm__list">
                        <li class="programm__el">
                            <p class="programm__time">17:00</p>
                            <p class="programm__description animation">Церемония открытия</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">18:00</p>
                            <p class="programm__description animation">Q&A сессия, воркшоп от SberCloud</p>
                        </li>
                    </ul>
                    <img src="../images/programm/ball.png" alt="" class="ball-programm">
                </div>
                <div class="programm_day">
                    <div class="programm__data">
                        <div class="programm__square"></div>
                        <h4 class="programm__title">12 декабря</h4>
                    </div>
                    <ul class="programm__list">
                        <li class="programm__el">
                            <p class="programm__time">11:00</p>
                            <p class="programm__description animation">Чекпоинт №1</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">14:00</p>
                            <p class="programm__description animation">Воркшоп от SberCloud</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">16:00</p>
                            <p class="programm__description animation">Воркшоп от Huawei</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">18:00</p>
                            <p class="programm__description animation">Чекпоинт №2</p>
                        </li>
                    </ul>
                </div>
                <div class="programm_day">
                    <div class="programm__data">
                        <div class="programm__square"></div>
                        <h4 class="programm__title">13 декабря</h4>
                    </div>
                    <ul class="programm__list">
                        <li class="programm__el">
                            <p class="programm__time">10:30</p>
                            <p class="programm__description animation">Загрузка решений для предзащиты</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">11:00</p>
                            <p class="programm__description animation">Чекпоинт №3 (предзащита проектов)</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">15:00</p>
                            <p class="programm__description animation">Воркшоп от Школа 21</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">17:00</p>
                            <p class="programm__description animation">Защита проектов</p>
                        </li>
                        <li class="programm__el">
                            <p class="programm__time">20:00</p>
                            <p class="programm__description animation">Церемония награждения</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="mentors">

            <img src="../images//mentors/dots-mobile.png" alt="" class="mentors-dots-mobile">
            <img src="../images//mentors/dots-mobile.png" alt="" class="mentors-dots-mobile bottom">

            <div class="ellipse-mentors-left"></div>
            <div class="ellipse-mentors-right"></div>
            <img src="../images/mentors/ball.png" alt="" class="ball-mentors">
            <img src="../images/mentors/triangle.png" alt="" class="triangle">

            <h2 class="mentors__title">Менторы и спикеры</h2>
            <div class="mentors__container">
                <div class="mentors__person">
                    <img src="../images/mentors/petr.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Предтеченский</p>
                        <p class="mentors__name">Петр</p>
                        <p class="mentors__description animation">Руководитель направления по работе с корпоративными клиентами, SberCloud</p>
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/pavel.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Кутаков</p>
                        <p class="mentors__name">Павел</p>
                        <p class="mentors__description animation">Архитектор облачных решений, Huawei</p>
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/alina.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Суслова</p>
                        <p class="mentors__name">Алина</p>
                        <p class="mentors__description animation">Исполнительный директор, команда акселератора SberX</p>
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/daria.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Чашкина</p>
                        <p class="mentors__name">Дарья</p>
                        <p class="mentors__description animation">Директор по обучению, Школа программирования 21, Руководитель Бизнес-инкубатора МГУ</p>
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/ivan.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Хаустов</p>
                        <p class="mentors__name">Иван</p>
                        <p class="mentors__description animation">Управляющий партнер <br> <a href="http://Legium.io" class="mentors__link">Legium.io</a></p>
                        
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/anita.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Соловьева</p>
                        <p class="mentors__name">Анита</p>
                        <p class="mentors__description animation">Специалист по техническим решениям, Huawei</p>
                    </div>
                </div>
                <div class="mentors__person">
                    <img src="../images/mentors/kirill.png" alt="" class="mentors__img">
                    <div class="mentors__text">
                        <p class="mentors__name">Шеховцов</p>
                        <p class="mentors__name">Кирилл</p>
                        <p class="mentors__description animation">Ведущий программист, SberCloud</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="organizers">
            <div class="links">
                <h2 class="links__heading">Организаторы</h2>
                <ul class="links__list">
                    <li class="links__el sber animation"><a href="https://sbercloud.ru/ru" class="links__a"><img src="../images/organizers/sber.png" alt="" class="links__img"></a></li>
                    <li class="links__el hac animation"><a href="https://russianhackers.org/" class="links__a"><img src="../images/organizers/hackers.png" alt="" class="links__img"></a></li>
                    <li class="links__el pg animation"><a href="https://pgenesis.ru/" class="links__a"><img src="../images/organizers/pg.svg" alt="" class="links__img"></a></li>
                </ul>
            </div>
        </section>

        <section class="partners">
            <img src="../images/partners/grid.png" alt="" class="grid-partners">
            <img src="../images/partners/dots.png" alt="" class="dots-partners">
            <div class="links">
                <h2 class="links__heading">Партнеры</h2>
                <ul class="links__list">
                    <li class="links__el animation"><a href="https://huawei.ru/" class="links__a"><img src="../images/partners/huawei.png" alt="" class="links__img"></a></li>
                    <li class="links__el tw animation"><a href="https://21-school.ru/?utm_source=Sbercloud&utm_medium=hackathon&utm_campaign" class="links__a"><img src="../images/partners/21.png" alt="" class="links__img_21"></a></li>
                    <li class="links__el sber animation"><a href="https://www.sberbank-500.ru/" class="links__a"><img src="../images/partners/sber.png" alt="" class="links__img"></a></li>
                </ul>
            </div>
        </section>

        <section class="capabilities">
            <div class="capabilities-container">
                <img src="../images/capabilities/face.png" alt="" class="capabilities-container__img">
                <div class="capabilities-container__description">
                    <h2 class="capabilities-container__title">Карьерные возможности в SberCloud</h2>
                    <div class="capabilities-container__text">
                        <p class="capabilities-container__paragraph animation">SberCloud — облачная экосистемная платформа Сбера. Компания предлагает широкую линейку инфраструктурных и платформенных облачных решений, а также инструменты для работы с искусственным интеллектом, базирующиеся на ресурсах суперкомпьютера «Кристофари» — самого мощного вычислительного кластера России.</p>
                        <p class="capabilities-container__paragraph animation">Информационно-технологические платформы и услуги SberCloud являются основой цифровой экосистемы Сбера, а также предоставляются внешним клиентам — компаниям и государственным организациям.</p>
                    </div>
                    <a id="joinButton" href="https://sbercloud.ru/ru/career" class="button bottom"><span>Присоединиться</span></a>
                </div>
            </div>
        </section>

        <section class="faq">

            <img src="../images/faq/triangle.png" alt="" class="faq-triangle">

            <img src="../images/faq/tablet.png" alt="" class="faq-tablet">
            <div class="faq__container">
                <h2 class="faq__heading">FAQ</h2>
                <div class="faq__info">
                    <p class="faq__text">
                        <span class="faq__description animation">Что такое хакатон?</span>
                        <img 
                            id="hakaton-about"
                            src="../images/faq/info.png" 
                            alt="" 
                            class="faq__img"
                        >
                    </p>
                    <p class="faq__text">
                        <span class="faq__description animation">Могу ли я участвовать один, без команды?</span>
                        <img 
                            id="can-i"
                            src="../images/faq/info.png" 
                            alt="" 
                            class="faq__img"
                        >
                    </p>
                    <p class="faq__text">
                        <span class="faq__description animation">Что делать, чтобы повысить шансы на отбор на хакатон?</span>
                        <img 
                            id="what-todo"
                            src="../images/faq/info.png" 
                            alt="" 
                            class="faq__img"
                        >
                    </p>
                    <p class="faq__text">
                        <span class="faq__description animation">Я новичок. Могу ли я участвовать?</span>
                        <img 
                            id="i-new"
                            src="../images/faq/info.png" 
                            alt="" 
                            class="faq__img"
                        >
                    </p>
                    <p class="faq__text">
                        <span class="faq__description animation">Я не нашел(а) ответа на вопрос, что делать?</span>
                        <img 
                            id="answer-todo"
                            src="../images/faq/info.png" 
                            alt="" 
                            class="faq__img"
                        >
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__social">
                <a href="https://www.facebook.com/sbercloud" class="">
                    <img id="fbImg" src="../images/footer/fb.png" alt="" class="footer__social-img">
                </a>
                <a href="https://vk.com/sbercloud" class="">
                    <img src="../images/footer/vk.png" alt="" class="footer__social-img">
                </a>
                <a href="https://t.me/joinchat/CN0_CRu4NI1L0DStXsp_dw" class="">
                    <img id="tgImg" src="../images/footer/tg.png" alt="" class="footer__social-img">
                </a>
            </div>
            <div class="footer__links">
                <a href="https://t.me/joinchat/CN0_CRu4NI1L0DStXsp_dw" class="footer__links-el">Чат хакатона</a>
                <a href="https://apply.sbercloud.org/docs/%D0%9F%D0%BE%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_SberCloud.pdf" class="footer__links-el">Положение хакатона</a>
            </div>
            <a class="footer__main-link" href="https://sbercloud.ru/ru">
                <img src="../images/footer/sber.png" alt="" class="footer__sber">
            </a>
        </div>
    </footer>
</body>
</html>