<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SberCloud.Advanced Hacking - масштабный онлайн-хакатон для CTO стартапов и их команд</title>
</head>
<body class="body auto-scale-width">
    <header class="header">
        <picture class="logo">
            <img src="./images/header/sber.png" alt="" class="logo__img"/>
        </picture>
    </header>

    <main class="main">
        <section class="common">
            <div class="container-wrapper">
                <div class="info">
                    <div class="container">
                        <picture>
                            <source srcset="./images/common/mobile.png" media="(max-width: 630px)">
                            <img src="./images/common/desktop.png" alt="" class="info__img-img"/>
                        </picture>
                        <div class="info__text">
                            <div class="info__heading">
                                <h1 class="info__heading-el">SberCloud.</h1>
                                <h2 class="info__heading-el">Advanced</h2>
                                <h3 class="info__heading-el">Hacking</h3>
                            </div>
                            <div class="info__date">
                                <div class="info__square"></div>
                                <p class="info__paragraph-date">11-13 декабря</p>
                            </div>
                            <p class="info__paragraph">Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                        </div>
                        <p class="info__paragraph-mobile">Прокачай свой проект на стеке SberCloud.Advanced при поддержке менторов от SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                    </div>
                </div>
                <a href="#" class="button"><span>Подать заявку</span></a>

                <img src="./images/common/medium-ball-mobile.png" alt="" class="medium-ball-mobile">
                <img src="./images/common/small-ball-mobile.png" alt="" class="small-ball-mobile">
                <div class="ellipse-common-mobile"></div>
            </div>
            
        </section>

        <section class="short-about">
            <div class="description-short container-wrapper">
                <h1 class="description-short__heading">Что такое SberCloud.Advanced Hacking?</h1>
                <p class="description-short-paragraph">Это масштабный 50-ти часовой онлайн-хакатон для:</p>
                <ul class="description-short__list">
                    <li class="description-short__element"><span class="description-short__prefix">-&nbsp;</span>технологических стартапов</li>
                    <li class="description-short__element"><span class="description-short__prefix">-&nbsp;</span>CTO стартапов и их команд</li>
                    <li class="description-short__element"><span class="description-short__prefix">-&nbsp;</span>инди-проектов</li>
                    <li class="description-short__element"><span class="description-short__prefix">-&nbsp;</span>разработчиков, интересующихся облачными технологиями</li>
                </ul>
                <img src="./images/short-about/small-ball.png" alt="" class="small-ball">
                <img src="./images/short-about/medium-ball.png" alt="" class="medium-ball">
                <img src="./images/short-about/square.png" alt="" class="square">
                <div class="ellipse-top"></div>
            </div>
        </section>

        <section class="about">
            <div class="container-wrapper">
                <img src="./images/about/small-ball.png" alt="" class="about__small-ball">
                <div class="description-about">
                        <h2 class="description-about-main__heading">SberCloud.Advanced</h2>
                        <div class="description-about-main__block">
                            <p class="description-about-paragraph">
                                Это облачная платформа, позволяющая быстро создавать и эффективно управлять ИТ-инфраструктурой, приложениями и интернет-сервисами, радикально минимизирующая ресурсы, требуемые для поддержания работы ИТ-систем. Платформа в разы сокращает время вывода на рынок новых продуктов и услуг.
                            </p>
                            <a href="#" class="description-about-main__link">Подробнее</a>
                        </div>
                    </div>

                    <div class="description-about-other">
                        <h3 class="description-about-other__heading">Участникам хакатона будут доступны более 40 IaaS/PaaS сервисов SberCloud.Advanced!</h3>
                        <p class="description-about-paragraph">Одним из критериев оценки итоговых проектов - будет использование приоритетных сервисов:</p>
                    </div>

                    <ul class="description-about-list">
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">CCE (Kubernetes)</span>
                            <img
                                id="kubernetes-popup"
                                class="info-popup"
                                src="./images/about/info.png"
                                alt=""
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">FunctionGraph</span>
                            <img
                                id="functional-graph-popup"
                                src="./images/about/info.png"
                                alt=""
                                class="info-popup"
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">API Gateway</span>
                            <img
                                id="api-gateway-popup"
                                src="./images/about/info.png"
                                alt=""
                                class="info-popup"
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">Graph Engine Service</span>
                            <img 
                                id="graph-engine-popup"
                                src="./images/about/info.png" 
                                alt="" 
                                class="info-popup"
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">Document Database Service</span>
                            <img 
                                id="document-database-popup"
                                src="./images/about/info.png" 
                                alt="" 
                                class="info-popup"
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">Distributed Cache Service</span>
                            <img 
                                id="distributed-cache-popup"
                                src="./images/about/info.png" 
                                alt="" 
                                class="info-popup"
                            >
                        </li>
                        <li class="description-about-list__element">
                            <span class="description-about-list__text">Relational Database Service</span>
                            <img 
                                id="relational-database-popup"
                                src="./images/about/info.png" 
                                alt="" 
                                class="info-popup"
                            >
                        </li>
                    </ul>
                </div>

                <h3 class="about-logo__logo">SBER</h3>
                <span class="about-logo__logo-colored">CLOUD</span>
                <div class="about-logo-image">
                    <img src="./images/participation/medium-ball.png" alt="" class="about-circle-img">
                    <div class="about-circle"></div>
                    <div class="about-circle_green"></div>
                </div>
            </div>
        </section>

        <section class="participation">
            <div class="container-wrapper">
                <img src="./images/participation/grid-mobile.png" alt="" class="participation-grid-mobile">

                <div class="participation-container">
                    <h2 class="participation-container__heading">
                        Участвуй в хакатоне!
                    </h2>

                    <ul class="participation-list">
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Реализуй</h3>
                            <p class="participation-list__paragraph">свой проект с помощью технологий SberCloud.Advanced</p>
                        </li>
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Поборись</h3>
                            <p class="participation-list__paragraph">за главный призовой фонд 700 000 руб.</p>
                        </li>
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Получи</h3>
                            <p class="participation-list__paragraph">поддержку от опытных менторов из SberCloud, Huawei, Школы программирования 21 и Сбер500</p>
                        </li>
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Стань</h3>
                            <p class="participation-list__paragraph">лучшим разработчиком на стеке SberCloud</p>
                        </li>
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Воспользуйся</h3>
                            <p class="participation-list__paragraph">грантом на развитие собственного проекта и облачными кредитами SberCloud</p>
                        </li>
                        <li class="participation-list__element">
                            <h3 class="participation-list__heading">Обменивайся</h3>
                            <p class="participation-list__paragraph">опытом с другими проектами и разработчиками</p>
                        </li>
                    </ul>
                </div>

                <div class="participation-logo">
                    <h3 class="participation-logo__logo">SBER<span class="participation-logo__logo-colored">CLOUD</span></h3>
                    <div class="participation-logo-image">
                        <img src="./images/participation/medium-ball.png" alt="" class="circle-img">
                        <div class="circle"></div>
                        <div class="circle_green"></div>
                    </div>
                </div>
                <div class="participation-figure">
                    <div class="ellipse-participation"></div>
                    <img src="./images/participation/medium-ball.png" alt="" class="small-ball__participation">
                </div>
            </div>
        </section>

        <section class="nominations">
            <div class="container-wrapper">
                <div class="ellipse-nominations"></div>
                <img src="./images/nominations/spacer-pc.webp" alt="" class="spacer">
                <img src="./images/nominations/tablet.webp" alt="" class="tablet">
                <img src="./images/nominations/dots_pc.webp" alt="" class="dots_l">
                <img src="./images/nominations/dots_pc.webp" alt="" class="dots_r">
                <img src="./images/nominations/grid_pc.webp" alt="" class="grid">


                <div class="image-wrapper">
                    <img src="./images/nominations/square.png" alt="" class="image-wrapper__square">
                    <img src="./images/nominations/grid_pc.webp" alt="" class="image-wrapper__grid">
                    <img src="./images/nominations/hands.png" alt="" class="image-wrapper__hands">
                </div>

                <div class="rows">
                    <div class="rows__heading">Номинации и «плюшки»</div>
                    <div class="track">
                        <div class="track__left">
                            <h3 class="track__heading">Основной трек</h3>
                            <p class="track__paragraph">Лучшее использование ресурсов SberCloud Advanced для развития собственного проекта.</p>
                            <ul class="track__list">
                                <li class="track__el">
                                    <h4 class="track__el-headding">1-е место:</h4>
                                    <h4 class="track__el-paragraph">350 000 руб.</h4>
                                </li>
                                <li class="track__el">
                                    <h4 class="track__el-headding">2-е место:</h4>
                                    <h4 class="track__el-paragraph">200 000 руб.</h4>
                                </li>
                                <li class="track__el">
                                    <h4 class="track__el-headding">3-е место:</h4>
                                    <h4 class="track__el-paragraph">150 000 руб.</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="track__right">
                            <p class="track__summ">700 000 руб.</p>
                        </div>
                    </div>

                    <div class="special">
                        <h4 class="special__heading">Специальные номинации</h4>
                        <ul class="special__list">
                            <li class="special__el">
                                <span class="special__text">Лучший стартап на стеке SberCloud</span>
                                <img 
                                    id="best-startup"
                                    src="./images/nominations/star.png" 
                                    alt="" 
                                    class="special__img"
                                >
                            </li>
                            <li class="special__el">
                                <span class="special__text">Лучший разработчикна стеке SberCloud</span>
                                <img 
                                    id="best-dev"
                                    src="./images/nominations/star.png" 
                                    alt="" 
                                    class="special__img"
                                >
                            </li>
                            <li class="special__el">
                                <span class="special__text">Специальный приз от Школы 21</span>
                                <img 
                                    id="special-price"
                                    src="./images/nominations/star.png" 
                                    alt="" 
                                    class="special__img"
                                >
                            </li>
                            <li class="special__el">
                                <span class="special__text">Специальная номинация Сбер500</span>
                                <img 
                                id="special-nomination"
                                src="./images/nominations/star.png" 
                                alt="" 
                                class="special__img"
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="other">
                        <h4 class="other__heading">Другие призы</h4>
                        <ul class="other__list">
                            <li class="other__el">
                                <span class="other__text">Гранты SberCloud 12 000 руб. на команду</span>
                                <img 
                                    id="grants-sber"
                                    src="./images/nominations/dots.png" 
                                    alt="" 
                                    class="other__img"
                                >
                            </li>
                            <li class="other__el">
                                <span class="other__text">Расширенный пакет мерча</span>
                                <img 
                                    id="merch-package"
                                    src="./images/nominations/dots.png" 
                                    alt="" 
                                    class="other__img"
                                >
                            </li>
                            <li class="other__el">
                                <span class="other__text">Промокоды на онлайн-сервисы</span>
                                <img 
                                    id="online-promo"
                                    src="./images/nominations/dots.png" 
                                    alt="" 
                                    class="other__img"
                                >
                            </li>
                            <li class="other__el">
                                <span class="other__text">Промокоды Delivery Club</span>
                                <img 
                                    id="promo-delivery"
                                    src="./images/nominations/dots.png" 
                                    alt="" 
                                    class="other__img"
                                >
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="button button__nominations"><span>Подать заявку</span></a>
                </div>
                <div class="ellipse-special"></div>
            </div>
        </section>

        <section class="timeline">
            <div class="container-wrapper">
                <div class="sber-timeline">
                    <h3 class="sber-timeline-logo__logo">SBER<span class="sber-timeline-logo__logo-colored">CLOUD</span></h3>
                </div>
                
                <svg class='timeline-svg' xmlns="http://www.w3.org/2000/svg" version="1.1" width="108.625rem" height="3.625rem"><path d="M0 15 L869 15" stroke-dasharray="75.83333333333333 11.666666666666666" style=" fill:none; stroke:rgba(0,0,0, 0.2);stroke-width:17.5"></path></svg>
                <div class="timeline__container">
                    <h4 class="timeline__headding">
                        Таймлайн
                    </h4>
                    <ul class="timeline__list">
                        <li class="timeline__el">
                            <p class="timeline__date">13.11</p>
                            <div class="timeline__line"></div>
                            <p class="timeline__description">открытие регистрации</p>
                        </li>
                        <li class="timeline__el">
                            <p class="timeline__date">9.12</p>
                            <div class="timeline__line"></div>
                            <p class="timeline__description">закрытие регистрации</p>
                        </li>
                        <li class="timeline__el">
                            <p class="timeline__date">10.12</p>
                            <div class="timeline__line"></div>
                            <p class="timeline__description">общая сессия вопросов и ответов</p>
                        </li>
                        <li class="timeline__el">
                            <p class="timeline__date">11-13.12</p>
                            <div class="timeline__line"></div>
                            <p class="timeline__description">хакатон</p>
                        </li>
                        <li class="timeline__el">
                            <p class="timeline__date">13.12</p>
                            <div class="timeline__line"></div>
                            <p class="timeline__description">церемония награждения</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="programm">
            <div class="container-wrapper">
                <h3 class="about-logo__logo-programm-loc">
                    SBER
                    <span class="about-logo__logo-colored-programm-loc">CLOUD</span>
                </h3>

                <img src="./images/programm/dots-programm.png" alt="" class="dots-programm">
                <img src="./images/programm/dots-programm.png" alt="" class="dots-programm-r">
                <img src="./images/programm/ball.png" alt="" class="ball-programm">
                <h3 class="programm__heading">Программа</h3>
                <div class="programm__container">
                    <div class="programm_day">
                        <div class="programm__data">
                            <div class="programm__square"></div>
                            <h4 class="programm__title">11 декабря</h4>
                        </div>
                        <ul class="programm__list">
                            <li class="programm__el">
                                <p class="programm__time">17:00</p>
                                <p class="programm__description">Церемония открытия</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">18:00</p>
                                <p class="programm__description">Q&A сессии</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">20:00</p>
                                <p class="programm__description">Воркшоп от SberCloud</p>
                            </li>
                        </ul>
                    </div>
                    <div class="programm_day">
                        <div class="programm__data">
                            <div class="programm__square"></div>
                            <h4 class="programm__title">12 декабря</h4>
                        </div>
                        <ul class="programm__list">
                            <li class="programm__el">
                                <p class="programm__time">11:00</p>
                                <p class="programm__description">Чекпоинт №1</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">13:00</p>
                                <p class="programm__description">Воркшоп от SberCloud</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">15:00</p>
                                <p class="programm__description">Воркшоп от Huawei</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">18:00</p>
                                <p class="programm__description">Чекпоинт №2</p>
                            </li>
                        </ul>
                    </div>
                    <div class="programm_day">
                        <div class="programm__data">
                            <div class="programm__square"></div>
                            <h4 class="programm__title">13 декабря</h4>
                        </div>
                        <ul class="programm__list">
                            <li class="programm__el">
                                <p class="programm__time">11:00</p>
                                <p class="programm__description">Чекпоит №3</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">13:00</p>
                                <p class="programm__description">Воркшоп от Школа 21</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">15:00</p>
                                <p class="programm__description">Завершение кодинга</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">17:00</p>
                                <p class="programm__description">Питчинг</p>
                            </li>
                            <li class="programm__el">
                                <p class="programm__time">20:00</p>
                                <p class="programm__description">Церемония награждения</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="mentors">
            <div class="container-wrapper">
                <img src="./images/mentors/dots-mobile.png" alt="" class="mentors-dots-mobile">
                <img src="./images/mentors/dots-mobile.png" alt="" class="mentors-dots-mobile bottom">

                <div class="ellipse-mentors-left"></div>
                <div class="ellipse-mentors-right"></div>
                <img src="./images/mentors/ball.png" alt="" class="ball-mentors">
                <img src="./images/mentors/triangle.png" alt="" class="triangle">

                <h3 class="mentors__title">Менторы и спикеры</h3>
                <div class="mentors__container">
                    <div class="mentors__person">
                        <img src="./images/mentors/petr.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Предтеченский Петр</p>
                            <p class="mentors__description">Руководитель направления по работе с корпоративными клиентами, SberCloud</p>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/pavel.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Кутаков Павел</p>
                            <p class="mentors__description">Архитектор облачных решений, Huawei</p>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/alina.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Суслова Алина</p>
                            <p class="mentors__description">Исполнительный директор, команда акселератора SberX</p>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/daria.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Чашкина Дарья</p>
                            <p class="mentors__description">Директор по обучению, Школа программирования 21, Руководитель Бизнес-инкубатора МГУ</p>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/ivan.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Хаустов Иван</p>
                            <p class="mentors__description">Управляющий партнер </p>
                            <a href="" class="mentors__link">Legium.io</a>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/anita.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Соловьева Анита</p>
                            <p class="mentors__description">Специалист по техническим решениям, Huawei</p>
                        </div>
                    </div>
                    <div class="mentors__person">
                        <img src="./images/mentors/kirill.png" alt="" class="mentors__img">
                        <div class="mentors__text">
                            <p class="mentors__name">Шеховцов Кирилл</p>
                            <p class="mentors__description">Ведущий программист, SberCloud</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="organizers">
            <div class="links container-wrapper">
                <h3 class="links__heading">Организаторы</h3>
                <ul class="links__list">
                    <li class="links__el sber"><a href="" class="links__a"><img src="./images/organizers/sber.png" alt="" class="links__img"></a></li>
                    <li class="links__el hac"><a href="" class="links__a"><img src="./images/organizers/hackers.png" alt="" class="links__img"></a></li>
                    <li class="links__el pg"><a href="" class="links__a"><img src="./images/organizers/pg.svg" alt="" class="links__img"></a></li>
                </ul>
            </div>
        </section>

        <section class="partners">
            <div class="container-wrapper">
                <img src="./images/partners/grid.png" alt="" class="grid-partners">
                <img src="./images/partners/dots.png" alt="" class="dots-partners">
                <div class="links">
                    <h3 class="links__heading">Партнеры</h3>
                    <ul class="links__list">
                        <li class="links__el"><a href="" class="links__a"><img src="./images/partners/huawei.png" alt="" class="links__img"></a></li>
                        <li class="links__el tw"><a href="" class="links__a"><img src="./images/partners/21.png" alt="" class="links__img_21"></a></li>
                        <li class="links__el sber"><a href="" class="links__a"><img src="./images/partners/sber.png" alt="" class="links__img"></a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="capabilities">
            <div class="capabilities-container container-wrapper">
                <img src="./images/capabilities/face.png" alt="" class="capabilities-container__img">
                <div class="capabilities-container__description">
                    <h3 class="capabilities-container__title">Карьерные возможности в SberCloud</h3>
                    <div class="capabilities-container__text">
                        <p class="capabilities-container__paragraph">SberCloud — облачная экосистемная платформа Сбера. Компания предлагает широкую линейку инфраструктурных и платформенных облачных решений, а также инструменты для работы с искусственным интеллектом, базирующиеся на ресурсах суперкомпьютера «Кристофари» — самого мощного вычислительного кластера России.</p>
                        <p class="capabilities-container__paragraph">Информационно-технологические платформы и услуги SberCloud являются основой цифровой экосистемы Сбера, а также предоставляются внешним клиентам — компаниям и государственным организациям.</p>
                    </div>
                    <a href="#" class="button bottom"><span>Присоединиться</span></a>
                </div>
            </div>
        </section>

        <section class="faq">
            <div class="container-wrapper">
                <img src="./images/faq/triangle.png" alt="" class="faq-triangle">

                <img src="./images/faq/tablet.png" alt="" class="faq-tablet">
                <div class="faq__container">
                    <h3 class="faq__heading">FAQ</h3>
                    <div class="faq__info">
                        <p class="faq__text">
                            <span class="faq__description">Что такое хакатон?</span>
                            <img 
                                id="hakaton-about"
                                src="./images/faq/info.png" 
                                alt="" 
                                class="faq__img"
                            >
                        </p>
                        <p class="faq__text">
                            <span class="faq__description">Могу ли я участвовать один, без команды?</span>
                            <img 
                                id="can-i"
                                src="./images/faq/info.png" 
                                alt="" 
                                class="faq__img"
                            >
                        </p>
                        <p class="faq__text">
                            <span class="faq__description">Что делать, чтобы повысить шансы на отбор на хакатон?</span>
                            <img 
                                id="what-todo"
                                src="./images/faq/info.png" 
                                alt="" 
                                class="faq__img"
                            >
                        </p>
                        <p class="faq__text">
                            <span class="faq__description">Я новичок. Могу ли я участвовать?</span>
                            <img 
                                id="i-new"
                                src="./images/faq/info.png" 
                                alt="" 
                                class="faq__img"
                            >
                        </p>
                        <p class="faq__text">
                            <span class="faq__description">Я не нашел(а) ответа на вопрос, что делать?</span>
                            <img 
                                id="answer-todo"
                                src="./images/faq/info.png" 
                                alt="" 
                                class="faq__img"
                            >
                        </p>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="footer__container container-wrapper">
            <div class="footer__social">
                <a href="" class="">
                    <img src="./images/footer/fb.png" alt="" class="footer__social-img">
                </a>
                <a href="" class="">
                    <img src="./images/footer/vk.png" alt="" class="footer__social-img">
                </a>
                <a href="" class="">
                    <img src="./images/footer/tg.png" alt="" class="footer__social-img">
                </a>
            </div>
            <div class="footer__links">
                <a href="" class="footer__links-el">Чат хакатона</a>
                <a href="" class="footer__links-el">Положение хакатона</a>
            </div>
            <a class="footer__main-link">
                <img src="./images/footer/sber.png" alt="" class="footer__sber">
            </a>
        </div>
    </footer>
</body>
</html>