.mentors {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.mentors__title{
    margin: 0 auto;
    margin-top: 12.5rem;
    font-size: 5.0rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.mentors__container {
    margin: 8.75rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem
}
.mentors__person {
    padding-bottom: 8.75rem;
    display: flex;
    align-items: center;
}
.mentors__img {
    width: 21.25rem;
    margin-right: 5.0rem;
}
.mentors__name {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 198, 2, 1);
}
.mentors__description {
    margin: 0;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 1);
}
.mentors__link {
    color: rgb(0, 149, 111);
    font-weight: 400;
    font-family: custom_32105;
    font-size: 2.0rem;
}

.ellipse-mentors-left {
    position: absolute;
    top: -35.375rem;
    left: -62.5rem;
    width: 87.25rem;
    height: 83.125rem;
    border-radius: 100%;
    border: .25rem solid #07e897;
    z-index: 1;
}
.ellipse-mentors-right {
    position: absolute;
    top: -26.375rem;
    right: -62.5rem;
    width: 121.25rem;
    height: 124.125rem;
    border-radius: 100%;
    border: .25rem solid #07e897;
    z-index: 1;
}
.ball-mentors {
    position: absolute;
    top: -13.375rem;
    left: 18rem;
    width: 5.25rem;
    z-index: 2;
}
.triangle {
    position: absolute;
    top: 24.625rem;
    right: 48rem;
    width: 22.25rem;
    z-index: 2;
    transform: rotate(-35deg);
}
.mentors-dots-mobile {
    display: none;
}
.mentors-dots-mobile.bottom {
    display: none;
}


@media screen and (max-width: 975px) {
    .ellipse-mentors-right {
        position: absolute;
        top: 82.625rem;
        right: -101.5rem;
        width: 121.25rem;
        height: 124.125rem;
        border-radius: 100%;
        border: .25rem solid #07e897;
        z-index: 1;
    }
    .triangle {
        position: absolute;
        top: 131.625rem;
        right: 11rem;
        width: 22.25rem;
        z-index: 2;
        transform: rotate(-35deg);
    }
    .mentors__title {
        font-size: 6rem;
    }
    .ellipse-mentors-left {
        left: -77.5rem;
    }
    .ball-mentors {
        left: 4rem;
    }
    .mentors__container {
        grid-template-columns: repeat(1, 1fr);
    }
    .mentors__name {
        font-size: 3.5rem;
    }
    .mentors__description {
        font-size: 3rem;
    }
    .mentors__link {
        font-size: 3rem;
    }
    .mentors__img {
        width: 30rem;
        height: initial;
    }
    .mentors__container {
        width: 63%;
    }
}

@media screen and (max-width: 1920px) {
    .triangle {
        position: absolute;
        top: 24.625rem;
        right: 9rem;
    }
    .ellipse-mentors-right {
        position: absolute;
        top: -26.375rem;
        right: -101.5rem;
    }
}

@media screen and (max-width: 750px) {
    .mentors__title {
        width: 60%;
    }
    .ellipse-mentors-right {
        position: absolute;
        top: 82.625rem;
        right: -103.5rem;
        width: 121.25rem;
        height: 124.125rem;
        border-radius: 100%;
        border: .25rem solid #07e897;
        z-index: 1;
    }
    .triangle {
        position: absolute;
        top: 131.625rem;
        right: 8rem;
        width: 22.25rem;
        z-index: 2;
        transform: rotate(-35deg);
    }
    .mentors__container {
        width: 80%;
    }
}

@media screen and (max-width: 599px) {
    .mentors-dots-mobile {
        display: block;
    }
    .mentors-dots-mobile.bottom {
        display: block;
    }
    .mentors__title {
        width: 85%;
        margin-top: 11.25rem;
        font-size: 5.75rem;
    }
    .mentors__container{
        width: 83%;
        margin-top: 6.75rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .mentors__person {
        flex-wrap: wrap;
    }
    .mentors__img {
        width: 36.25rem;
        margin-bottom: 5.0rem;
    }
    .mentors__name {
        margin: 0;
        font-size: 4.5rem;
    }
    .mentors__description {
        font-size: 3.625rem;
    }
    .ellipse-mentors-left {
        display: none;
    }
    .ellipse-mentors-right {
        display: none;
    }
    .ball-mentors {
        display: none;
    }
    .triangle {
        display: none;
    }
    .mentors-dots-mobile {
        position: absolute;
        top: 108.25rem;
        right:  -98.5rem;
        transform: rotate(90deg) scale(0.85);
        opacity: .5;
        z-index: -1;
    }
    .mentors-dots-mobile.bottom {
        top: 343.25rem;
    }
}