.mentors {
    width: 100%;
    margin: 0 auto;
}
.mentors__title{
    width: 50%;
    margin: 0 auto;
    margin-top: 12.5rem;
    font-size: 5.0rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.mentors__container {
    width: 50%;
    margin: 8.75rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem
}
.mentors__person {
    padding-bottom: 8.75rem;
    display: flex;
    align-items: center;
}
.mentors__img {
    width: 21.25rem;
    height: 21.25rem;
    margin-right: 5.0rem;
}
.mentors__text {
}
.mentors__name {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 198, 2, 1);
}
.mentors__description {
    margin: 0;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 1);
}
.mentors__link {
}

@media screen and (max-width: 1350px) {
    .mentors__title{
        width: 70%;
    }
    .mentors__container{
        width: 70%;
    }
}

@media screen and (max-width: 1025px) {
    .mentors__title{
        width: 80%;
    }
    .mentors__container{
        width: 80%;
    }
}

@media screen and (max-width: 599px) {
    .mentors__title {
        width: 85%;
        margin-top: 11.25rem;
        font-size: 5.75rem;
    }
    .mentors__container{
        width: 83%;
        margin-top: 13.75rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .mentors__person {
        flex-wrap: wrap;
    }
    .mentors__img {
        width: 36.25rem;
        height: 36.25rem;
        margin-bottom: 5.0rem;
    }
    .mentors__name {
        margin: 0;
        font-size: 4.5rem;
    }
    .mentors__description {
        font-size: 3.625rem;
    }
}