.participation {
    position: relative;
    padding: 40px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.participation::after {
    background: no-repeat center 100% url(../../images/participation/grid.png);
    background-size: 1980px auto;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
}

.participation-container {
    width: 50%;
    margin: 0 auto;
}
.participation-container__heading {
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(7, 232, 151, 1);
}
.participation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.participation-list__element {
    width: 50%;
}
.participation-list__heading {
    margin: 0 0 10px 0;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    font-family: custom_32105;
    color: rgba(255, 198, 2, 1);
}
.participation-list__paragraph {
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    font-family: custom_32105;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.participation-logo {
    padding-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.participation-logo__logo {
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: rgba(255, 255, 255, 0.1);
}
.participation-logo__logo-colored {
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: rgba(255, 255, 255, 0.2)
}
.participation-logo-image {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    margin-right: 30px;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 100%;
}
.circle-img{
    margin-right: 30px;
    width: 70px;
    height: 70px;
}
.circle_green {
    width: 70px;
    height: 70px;
    background: rgb(7,232,151);
    border: 2px solid rgb(7,232,151);
    border-radius: 100%;
}

.participation-figure {
    position: absolute;
}
.ellipse-participation {
    position: absolute;
    bottom: -265px;
    left: -517px;
    width: 768px;
    height: 963px;
    border-radius: 100%;
    border: 2px solid rgb(7,232,151);
    z-index: 1;
}
.small-ball__participation {
    position: absolute;
    top: -510px;
    left: 166px;
    width: 45px;
    z-index: 1;
}

@media screen and (max-width: 1350px) {
    .participation-container {
        width: 70%;
    }
}

@media screen and (max-width: 867px) {
    .participation-container {
        width: 80%;
    }
}

@media screen and (max-width: 599px) {
    .participation-logo{
        display: none;
    }
    .participation-container{
        width: 90%;
    }
    .participation-container__heading {
        font-size: 46px;
    }
    .participation-list__element {
        width: 100%;
    }
    .participation-list__heading {
        font-size: 27px;
    }
    .participation-list__paragraph {
        margin: 10px 0 40px 0;
        width: 100%;
        font-size: 28px;
    }
    .small-ball__participation {
        top: -476px;
        left: 488px;
        width: 64px;
    }
    .ellipse-participation {
        bottom: 190px;
        left: 516px;
        width: 604px;
        height: 512px;
        border: 4px solid rgb(7,232,151);
    }
    
}